
@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');


:root {
    --avatar-size: 40px;
    --background-image: url('https://imgur.com/a/hSxeaBv');
    --home-image: url('https://i.imgur.com/KKsmtDL.gif');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #03fcf4;
    --accent: 51, 0, 255;
    --accent-alt: 0, 255, 21;
    --color: #ffffff;
}
