
@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');


:root {
    --avatar-size: 40px;
    --background-image: url('https://imgur.com/a/hSxeaBv');
    --home-image: url('https://i.imgur.com/KKsmtDL.gif');
    --background-solid: #00ff11;
    --background-solid-dark: #ff0000;
    --background-solid-darker: #0f0f0f;
    --accent: 51, 0, 255;
    --accent-alt: 255, 255, 255;
    --color: #ffffff;
}
