
@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');


:root {
    --avatar-size: 40px;
    --background-image: url('https://imgur.com/a/hSxeaBv');
    --home-image: url('https://i.imgur.com/KKsmtDL.gif');
    --background-solid: #101112;
    --background-solid-dark: #090a0a;
    --background-solid-darker: #020303;
    --accent: 52, 53, 54;
    --accent-alt: 52, 53, 54;
}
